﻿<div ng-controller="mainController">
    <header>
        <!-- main SPA navigation-->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Postcode Data Service</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#upload"><i class="fa fa-shield"></i> Upload</a></li>
                    <li><a href="#search"><i class="fa fa-comment"></i> Search</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- main app content area-->
    <div id="main">
        <div ng-view></div>
    </div>
</div>