﻿<div class="highlight">
    <h1>Search</h1>
    <!-- forms info to pass to REST API -->
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="postcode" class="col-sm-2 control-label">Postcode</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="postcode" placeholder="postcode">
            </div>
        </div>
        <div class="form-group">
            <label for="count" class="col-sm-2 control-label">Number of items</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="count" placeholder="count">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="searchPostcode()">Search</button>
            </div>
        </div>
    </form>
</div>
<!-- TODO this should obv be more responsive to smaller screens -->
<div class="highlight">
    <h2>Results</h2>
    <table class="table zebra-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Business</th>
                <th>Code</th>
                <th>Distance (km)</th>
            </tr>
        </thead>
        <tbody id="dataContent">

        </tbody>
    </table>
</div>