<div class="highlight">
    <h1>Upload</h1>

    <div class="form-group">
        <label for="exampleInputFile">CSV File input</label>
        <input id="uploadButton" type="file" ng-file-select="onFileSelect($files)">
        <p class="help-block">Choose a CSV file to upload on to the system.</p>
    </div>
</div>